<html>
	<head>
		<title>Gossip man</title>
		<link rel="stylesheet" type="text/css" href="<%= url('/styles.css') %>">
	</head>
	<body>
		<h1>Mon super site de gossip depuis le dossier views !</h1>

	<p>Salut le nulosse ! Si t'as rien à faire tu peux
	<br> cliquer <a href="gossips/new/">ici</a> pour voir les nouveaux bails !
	</p>

	<p>Genial nan ?</p>




	</body>
</html>